/* === login form == */

.cta {
	display: block;	
	margin: 0 auto;	
	border-radius:(4px);
	background: #18181c;	
	font-family: 'Helvetica';
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	text-transform: lowercase;
	letter-spacing: 3px;	
	color: #fff;	
	-webkit-box-shadow: 0 3px 0 #515154;
	box-shadow: 0 2px 0 #515154;
	border: 0;
	border-radius: 4px;
	-webkit-border-radius:4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 142px;
	max-width: 100%;
	height: 44px;
}
.cta:hover {
	color: #fff;
	background: #34343a;
}
.cta:focus {
		color: #fff;
		background: #18181c;
}

.login-page .panel form button {
	font-family: 'Oxygen', serif;
	font-size: 1.000em;
	color:#eeedf9;	
}

.login-page .panel form button .btn:hover {
	background-color: #0099a7;
}

.login-page .panel form button .btn:focus {
	background-color: #0099a7;
}


.box1 {
	width: 100px;
	height: 100px;
	background:gray;
	float: left;
	display: block;
}

.box2 {
	width: 100px;
	height: 100px;
	background:blue;
	display: block;
	margin-left: 75px;
}