body {
	background:#ececf2;
}
.header-bar {
	width: 100%;
	height: 34px;
	background:#f32727;
}

.login-page  .col-md-5{
	margin-top: 53px;
}
.login-page .panel {
	background:#ed2323;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.login-page .panel .panel-footer {
	padding: 10px 15px;
	background:#ed2323;
	border-top: none;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.login-page .logo img {
	max-width: 100%;
	width: 443px;
	margin: 0 auto;
}
.login-page .panel h3.panel-title{
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 2.143em;/* 30px */
	color:#e9e9e9;
	text-align: center;
} 

.login-page .panel .panel-body .form-horizontal {
	max-width: 100%;
	width: 487px;
	margin: 0 auto;
}

.login-page .panel .panel-body .form-horizontal .form-group .control-label p{
	font-family:'Roboto Slab', serif;
	font-weight: 700;
	color:#eeedfa;
	font-size: 16px;
	text-align: right;
}

.login-page .panel .panel-body hr {
	color:#eeedf9;
}

div.login-page .panel .panel-body .form-group input[type="text"],
div.login-page .panel .panel-body .form-group input[type="password"]{
	font-family:'Open Sans',serif;
	font-size: 14px; /* 14px*/
	color:#666666;
	padding: 5px;
	font-weight: 400;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

div.login-page .panel .panel-body .form-group input[type="password"]
{
   -webkit-text-security: disc!important	;
}


.txtadmin {
text-align: right;
padding-left: 23px;
}

.txtpswrd{

}





