
/* Small Screen  (small phones, 480px and up) */
@media only screen and (min-width: 480px) {

	/* ========== Pseudo Element Styling ==========*/

	/* ========== Helpers / Msc. ==========*/

	/* ========== Layout ==========*/

	/* ========== Forms / Inputs / Buttons ==========*/

	/* ========== Icons ==========*/

	/* ========== Header ==========*/
	.nav-bg {
		background-image: -webkit-linear-gradient(#8a9196, #7a8288 60%, #70787d);
		background-image: linear-gradient(#8a9196, #7a8288 60%, #70787d);
		background-repeat: no-repeat;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8a9196', endColorstr='#ff70787d', GradientType=0);
		filter: none;
		height: 52px;
	}
	
	.navbar-brand{ /* edit logo */		
		color:#fff;
	}
	
	
	/* ========== Banner ==========*/

	/* ========== Maincontainer ==========*/

	/* ========== Sidebar ==========*/

	/* ========== Widget / Secondary ==========*/

	/* ========== Footer ==========*/

	/* ========== Module ==========*/

	/* ========== WordPress Classes ==========*/
	
}

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	/* ========== Pseudo Element Styling ==========*/

	/* ========== Helpers / Msc. ==========*/

	/* ========== Layout ==========*/

	/* ========== Forms / Inputs / Buttons ==========*/

	/* ========== Icons ==========*/

	/* ========== Header ==========*/
	.nav-bg {
		background-image: -webkit-linear-gradient(#8a9196, #7a8288 60%, #70787d);
		background-image: linear-gradient(#8a9196, #7a8288 60%, #70787d);
		background-repeat: no-repeat;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8a9196', endColorstr='#ff70787d', GradientType=0);
		filter: none;
		height: 52px;
	}
	
	.navbar-brand{ /* edit logo */		
		color:#fff;
	}
	
	/* ========== Banner ==========*/

	/* ========== Maincontainer ==========*/

	/* ========== Sidebar ==========*/

	/* ========== Widget / Secondary ==========*/

	/* ========== Footer ==========*/

	/* ========== Module ==========*/

	/* ========== WordPress Classes ==========*/
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
		/* ========== Pseudo Element Styling ==========*/

	/* ========== Helpers / Msc. ==========*/

	/* ========== Layout ==========*/

	/* ========== Forms / Inputs / Buttons ==========*/
	.login-page .panel .panel-body .form-horizontal {
		font-size: 12px;
	}
	
	
	/* ========== Icons ==========*/

	/* ========== Header ==========*/
	.nav-bg {
		background-image: -webkit-linear-gradient(#8a9196, #7a8288 60%, #70787d);
		background-image: linear-gradient(#8a9196, #7a8288 60%, #70787d);
		background-repeat: no-repeat;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8a9196', endColorstr='#ff70787d', GradientType=0);
		filter: none;
		height: 52px;
	}
	
	.navbar-brand{ /* edit logo */		
		color:#fff;
	}
	
	/* ========== Banner ==========*/

	/* ========== Maincontainer ==========*/

	/* ========== Sidebar ==========*/

	/* ========== Widget / Secondary ==========*/

	/* ========== Footer ==========*/

	/* ========== Module ==========*/

	/* ========== WordPress Classes ==========*/
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  	/* ========== Pseudo Element Styling ==========*/

	/* ========== Helpers / Msc. ==========*/

	/* ========== Layout ==========*/

	/* ========== Forms / Inputs / Buttons ==========*/
	
	.login-page .panel .panel-body .form-horizontal {
		font-size: 18px;
	}
	
	/* ========== Icons ==========*/

	/* ========== Header ==========*/
	.nav-bg {
		background-image: -webkit-linear-gradient(#8a9196, #7a8288 60%, #70787d);
		background-image: linear-gradient(#8a9196, #7a8288 60%, #70787d);
		background-repeat: no-repeat;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8a9196', endColorstr='#ff70787d', GradientType=0);
		filter: none;
		height: 52px;
	}
		
	/* ========== Banner ==========*/

	/* ========== Maincontainer ==========*/

	/* ========== Sidebar ==========*/

	/* ========== Widget / Secondary ==========*/

	/* ========== Footer ==========*/

	/* ========== Module ==========*/

	/* ========== WordPress Classes ==========*/
}
