body{
	font: 400 24px/30px "Whitney A","Whitney B","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #111 !important;
}

.bigpx{
	font: 400 24px/30px "Whitney A","Whitney B","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
